* {
    font-family: cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

body{
    margin: 0px;
    background-image: url(../img/home-back.jpg);
    background-size: cover;
}

        /* MY NAV BAR CSS  */

.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgb(106, 106, 106);
}

.navbar{
    display:flex;
    flex: 1;
    justify-content: center;
}

.navbar ul{
    background-color: rgb(106, 106, 106);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    width: 100%;
    justify-content: center;
    display: flex;
    
}

.navbar a{
    color: white;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: rgb(27, 27, 27);
}

.navbar li{
    float: left;
}

.logo img {
    height: 80px;
}

.navbar-text{
    margin-left: 20px;
    margin-top: 15px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

#h3{
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

/* btn css */

#btnAdd{
    width: 5%;
}
#btnUpdate{
    width: 7%;
}
#btnDelete{
    width: 7%;
}


    /* TBL CSS */

#customerTable{
    width: 75%;
    margin-left: 50PX;
}